*{
    margin: 0;
    padding: 0;
}
.banner-container{
    height: 100vh;
    width: 100%;
    background-image: url('../images/banner/banner3.png');
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: center;
    color: white;
    
}
.banner-details{
    width: 300px;
    
}
.tittle-banner{
  font-size: 50px;
  margin-bottom: 20px;  
}
.description{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}
.btn-discover{
    padding: 15px 30px;
    background-color: white
    border:none"
    color:blue

    
}
.profile-container{
display: flex;

}
.profile-tittle{
    font-size: 40px;
    margin-bottom: 24px;
}
.profile-description{
    font-size: 16px;
    width: 400px;
}
.profile-details{
    
    
}
.head{
    padding: 50;
}
/* my plans styles */
.skill-tittle{
    font-size: 20px;
    font-weight: 700;
}
    

.skill-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    gap: 100px;
}
.section-tittle{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.watch-container{
    height: 300px;
    width: 1140px;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    align-items: left; color: white;
    font-weight: 700;
    font-size: 30px;
    padding: 40px;
    
    
}
.btn-button{
    margin: 10px;
    height: 60px;
    width: 160px;
    background-color: white;
    color: blue;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}
.watch-banner{
  font-size: 40px;
  font-weight: 700;  
}
.contact .contact-tittle{
    text-align: left;
}
.contact{
    display: flex;
    gap: 100px;
    background-color: black;
    color: white;
    padding: 200px 200px;
}

.btn-sub{
    height: 50px;
    width: 150px;
    border: none;
    background-color: blue;
    color: white;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}
.te.contact input .text{
    margin-bottom: 25px;
    border: 0;
    width: 300px;
    height: 30px;
    
    border-radius: 5px;
    text-align: center;
    padding: 18ps 64px;

}
.contact input{
    width: 150px;
height: 30px;
}
.contact-tittle{
    margin-bottom: 25px;
}
.contact input[type="email"]{
    background-color: black;
    color: white;
    
}
