*{
    margin: 0;
    padding: 0;
}
.banner-container{
    height: 100vh;
    width: 100%;
    background-image: url('../images/banner/banner3.png');
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: center;
    color: white;
    
}
.banner-details{
    width: 300px;
    
}
.tittle-banner{
  font-size: 50px;
  margin-bottom: 20px;  
}
.description{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}
.btn-discover{
    padding: 15px 30px;
    background-color: white
    border: none; 
    color: blue;
}